.output {
  > pre {
    white-space: pre-wrap;
  }
}

.btn-copy {
  position: relative;

  &.has-tooltip {
    &::after {
      opacity: 1;
      transform: translate(-50%, .5rem);
    }
  }

  &::after {
    position: absolute;
    top: 100%;
    left: 50%;
    padding: $tooltip-padding-y $tooltip-padding-x;
    font-size: $tooltip-font-size;
    color: $tooltip-color;
    white-space: nowrap;
    pointer-events: none;
    background-color: $tooltip-bg;
    border-radius: $tooltip-border-radius;
    content: attr(data-tooltip);
    opacity: 0;
    transform: translate(-50%, 0);
    transition: $transition-base;
    text-align: center;
  }
}
